@import url(global.css);

main {
    width: 100vw;
    max-height: 100vh;
    background-color: var(--white);
    padding: 0 10rem;
    display: flex;
}

a {

    text-decoration: none;
    color: var(--white);

}
nav img {
    width: 1.5rem;
    height: auto;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.list_nav li a{
    list-style: none; 
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
}

.list_nav li {
    margin-bottom: 1.25rem;
    transition: 0.2s ease-in-out;
}

.button_primary {
    display: flex;
    padding : 1rem 5rem; 
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 100rem;
    background-color: var(--primaryblue);
    border: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

#nav {
    border-right: 1px solid var(--dark7);
    width: fit-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 0rem 2rem;
}

.nav_container {
    
    padding: 2rem 0;
}

.profile_container {
    padding : 2rem 0;
}

.profile_content {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
}

.information_container h3 {
    color : var(--black);
}

.information_container p {
    color : var(--dark5);
}

.nav_button {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0.5rem 3rem 0.5rem 0.5rem;
    cursor:  pointer;
}

.list_nav li:hover {
    background-color: var(--dark7); 
    border-radius: 0.625rem;
    transition: 0.3s ease-in-out;

}

#home {
    color: black;
    min-width: 35rem; 
    background-color: var(--dark7);
}

.container_home {
    display: flex;
    flex-direction: column;
    flex: 0;
    height: 100vh;
}

.tweets {
    overflow-y: scroll;
    margin-top: 1rem;
    background-color: var(--white);
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.tweet_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    width: 100%;
    height: fit-content;

}

.tweet_content {
    padding: 1rem 2rem;
    border-top : 1px solid var(--dark7);
    width: 35rem;
}

.tweet_user_info {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

textarea {
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 0.625rem;
    padding: 1rem;
    resize: none;
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);
    padding: 1rem;
}

textarea::placeholder {
    color: var(--dark5);
}

textarea:focus {
    outline: none;
}

.tweet_content p {
    max-width: 100%;
    word-wrap: break-word;
}

.make_tweet_container {
    background-color: var(--white);
    padding: 2rem;
}

#search {
    background-color: var(--white);
    border-left: 1px solid var(--dark7);
    width: 100%;
}

#search form {
    padding: 1rem;
}

#search input {
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem ;
    border: none;
    border-radius: 20rem;
    background-color: var(--dark8);
    font-size: 1rem;
}

#search input::placeholder {
    color: var(--dark5);
}

#search input:focus {
    outline: none;
}

#search button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20rem;
    background-color: var(--primaryblue);
    color: var(--white);
    cursor: pointer;
    margin-top: 1rem;
}

.button_secondary {
    padding : 0.5rem 1rem;
    border: none;
    border-radius: 20rem;
    background-color: var(--dark7);
    color: var(--black);
    cursor: pointer;
}

.tweet_content p {
    padding: 1rem 0;
}

.user_username {
    color: var(--black);
    font-weight: 700;
}

.user_name {
    color: var(--dark5);
}